.skills__area {
  min-height: 100vh;
  padding-top: 100px; 
  margin-top: -100px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 30px;
}

.skills__heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.skills__heading .uil {
  font-size: 1.75rem;
  color: var(--title-color-dark);
}

.skills__subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: var(--title-color);
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem; 
}

.skill__card {
  background-color: var(--container-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
  height: 140px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skill__card:hover {
  transform: translateY(-9px);
}

.skill__icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.skill__name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4px;
  }
  .skills__area{
    width: 100vh;
  }
  .skills__heading{
    font-size: 3.5rem;
  }
  .skills__subtitle{
    font-size: 2rem;
  }
  .skill__icon{
    font-size: 2rem;
  }
  .skill__name{
    font-size: 1.6rem;
  }
}
