.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social_icon {
  font-size: 2rem;
  color: var(--title-color);
  transition: color 0.3s;
}

.home__social_icon:hover {
  color: var(--title-color-dark);
}

@media screen and (max-width:992px){
  .home__social{
    row-gap: 0.5rem;
    margin-left: var(--mb-1);
  }
  .home__social_icon{
    font-size: 1.5rem;
  }
}

@media screen and (max-width:768px){
  .home__social{
    row-gap: 1.5rem;
    margin-left: 6rem;
  }
  .home__social_icon{
    font-size: 1.5rem;
  }
}

@media screen and (max-width:480px){
  .home__social{
    row-gap: 0.5rem;
    margin-left: 1rem;
  }
  .home__social_icon{
    font-size: 3.5rem;
  }
}